@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1:  #333;
  --color-grey-dark-2:  #777;
  --color-grey-dark-3:  #999;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f3f2;
  width: 100%;
}

/*
 * Media Queries
 */
@media screen and (max-width: 1360px) {
  .contacto-wrapper .row {
    padding: 0 !important;
  }
}

@media screen and (max-width: 840px) {
  footer .row div {
    text-align: center !important;
  }
}

@media screen and (max-width: 770px) {
  .contacto-wrapper .col-md-6:first-child {
    margin: 30px 0 80px !important;
  }
}

@media screen and (max-width: 670px) {
  .espaco-gallery h3 {
    font-size: 1.7em !important;
  }
  .apresentacao h3 {
    font-size: 1.7em !important;
  }
  .apresentacao p {
    word-spacing: 3px !important;
  }
}

@media screen and (max-width: 580px) {
  .logo-nav {
    width: 130px;
    height: 80px;
  }
  .espaco-gallery {
    text-align: center;
  }
  .espaco-gallery .img-espaco {
    text-align: center !important;
  }
  .espaco-gallery .img-espaco img {
    width: 100%;
  }
  .espaco-gallery .img-espaco figcaption {
    background-color: #000;
  }
  .espaco-gallery .img-espaco figcaption p {
    font-size: 1.3em !important;
  }
}

header {
  height: 180px;
}

header nav {
  background-color: #f2f3f2;
  opacity: .85;
  padding: 35px 0 !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav .navbar-toggler {
  background-color: transparent;
  border: none;
}

header nav .navbar-toggler span {
  font-size: 1.6em;
  color: #000 !important;
}

header nav .logo-nav {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav .navbar-nav li {
  margin-right: 30px;
}

header nav .navbar-nav li:last-child {
  margin-right: 0px;
}

header nav .navbar-nav li a {
  color: #000 !important;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 40px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

header nav .navbar-nav li a:hover {
  border-bottom: 2px solid #000;
}

header nav .nav-active {
  border-bottom: 2px solid #000;
}

header nav .nav-active a {
  border-bottom: 0px solid #000 !important;
}

.navbar-scroll {
  padding: 15px 0 !important;
}

.navbar-scroll .logo-nav {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.espaco-gallery h3 {
  font-size: 2em;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
}

.espaco-gallery hr {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 40px;
  margin-bottom: 55px;
}

.espaco-gallery .img-espaco figure {
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.espaco-gallery .img-espaco figure:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.espaco-gallery .img-espaco figure:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.espaco-gallery .img-espaco figure img {
  -webkit-transition: -webkit-filter .3s ease-in-out;
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
  width: 100%;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.espaco-gallery .img-espaco figure figcaption {
  background-color: #000;
}

.espaco-gallery .img-espaco figure figcaption p {
  color: #fff !important;
  font-size: 1.1em;
  padding: 15px 0;
}

.apresentacao {
  color: #000;
}

.apresentacao h3 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
}

.apresentacao hr {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 40px;
  margin-bottom: 55px;
}

.apresentacao p {
  font-size: 1.2em;
  word-spacing: 5px;
  line-height: 35px;
  text-align: justify;
}

.apresentacao h4 {
  font-size: 1.5em;
}

.apresentacao ul li {
  list-style-type: square;
  font-size: 1.1em;
}

.precario {
  color: #000;
}

.precario .precario-wrapper h3 {
  font-size: 2em;
  text-align: center;
}

.precario .precario-wrapper hr {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 40px;
  margin-bottom: 55px;
}

.precario .precario-wrapper p {
  font-weight: 700;
}

.precario .precario-info h2 {
  font-size: 1.7em;
}

.check {
  color: #000;
}

.check th {
  font-size: 1.2em;
}

.check td {
  font-size: 1em;
}

.contacto-wrapper {
  color: #000;
}

.contacto-wrapper .row {
  text-align: center;
  padding: 0 100px 0 0;
}

.contacto-wrapper .row .col-md-6:first-child {
  margin-top: 120px;
}

.contacto-wrapper .row .col-md-6:first-child span {
  margin-top: 20px;
}

.contacto-wrapper .g-maps iframe {
  width: 100%;
  height: 500px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
}

footer .row {
  margin-top: 20px;
}

footer .row p {
  font-size: 1em;
}

footer .row p span {
  border-bottom: 1px dotted #fff;
  padding: 0 0 5px;
}
/*# sourceMappingURL=main.css.map */